<template name="passengerInfo">
  <div class="row h-100 d-flex flex-row align-items-center" >
    <div class="col-md-12">
      <h1 class="text-center mt-3">Passenger Information </h1>
      <p class="lead text-center mb-5">Tell us more about the customers boarding this plane</p>
      <div class="row mt-3">
        <div class="col-3">
          {{> dataGenerator title="Ages" min="18" max="75"}}
        </div>
        <div class="col-3">
          {{> dataGenerator title="Luggage Weight" min="1" max="15"}}
        </div>
        <div class="col-6">
          {{> passengerGenerator}}
        </div>

      </div>
    </div>
  </div>
</template>
