<template name="capacityForm">
  <div class="row h-100 d-flex flex-row align-items-center" >
    <div class="col-md-12">
      <h1 class="text-center mt-3">Capacity Information </h1>
      <p class="lead text-center">Please tell us about your plane and passenger info</p>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center"  style=" min-height: 400px; min-width: 100%; height:400px!important;">
          <div class="element-box w-100 d-flex align-items-center justify-content-center" style="-webkit-box-shadow: none !important; box-shadow: none !important;">
                <form style="width: 700px;">
                  <!-- <h5 class="form-header">
                    Default Layout
                  </h5>
                  <div class="form-desc">
                    Discharge best employed your phase each the of shine. Be met even reason consider logbook redesigns. Never a turned interfaces among asking
                  </div> -->
                  <div class="row ">
                    <div class="col-sm-6 d-flex flex-column align-items-center justify-content-center">
                      <img src="/img/seats.jpg" width="200px;">
                      <div class="form-group">
                        <label for=""> How many seats does this plane have?</label><input class="form-control mt-3" placeholder="0" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6 d-flex flex-column align-items-center justify-content-center">
                      <img src="/img/queue.jpg" width="200px;">
                      <div class="form-group">
                        <label for="">How many passengers are going to board?</label><input class="form-control mt-3" placeholder="0" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="form-buttons-w d-flex align-items-center justify-content-center" style="border: none;">
                    <button class="btn btn-primary m-auto btn-lg step-trigger" type="submit" data-name="capacityForm"> Continue</button>
                  </div>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>


</template>
